.photo-detail
  .row
    .span8.photo
      %img{src: @photo.image}
    .span4
      .row
        .span4
          %h2= @photo.title
          %p= @photo.description
          %p.extra= @photo.extra
      - if @photo.meta
        .row
          .span4.exif
            %h2 Image Data
            %table
              - @photo.meta.each do |code, value|
                %tr
                  %td= translate_exif_code(code)
                  %td= value

