.photo-detail
  .row
    .span8.photo
      %img{src: @photo.image}
    .span4
      .row
        .span4
          %h2= @photo.title
          %p= @photo.description
          %p.extra= @photo.extra
      - if @photo.meta && !@photo.meta.empty?
        .row
          .span4.exif
            %h2 Image Data
            %table
              - @photo.meta.each do |code, value|
                %tr
                  %td= translate_exif_code(code)
                  %td= value
    .row
      .span12.prevnext
        - if @photo.previous
          = link_to photo_path(@photo.previous), class: 'left' do
            &larr;
            #{@photo.previous.title}
        - if @photo.next
          = link_to photo_path(@photo.next), class: 'right' do
            #{@photo.next.title}
            &rarr;
    .row
      .span12
        #disqus_thread
        %noscript
          Please enable JavaScript to view the #{link_to 'comments powered by Disqus.', 'http://disqus.com/?ref_noscript'}
          %a.dsq-brlink{href: 'http://disqus.com'}
            comments powered by
            %span.logo-disqus Disqus
